/*******************************
            Variables
*******************************/
$mini: 0.6rem;
$tiny: 0.8rem;
$small: 0.9rem;
$medium: 1rem;
$large: 1.1rem;
$big: 1.2rem;
$huge: 1.4rem;
$massive: 1.6rem;

.lw-btn {
  cursor: pointer;
  display: inline-block;

  min-height: 1em;

  outline: none;
  border: none;
  vertical-align: baseline;
  background: #E0E1E2 none;
  color: rgba(0, 0, 0, 0.6);

  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;

  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;

  border-radius: 0.25em;
  box-shadow: 
    0px 0px 0px,
    0px -0em,
  ;

  user-select: none;
  transition: 
    opacity 0.1s ease,
    background-color 0.1s ease,
    color  0.1s ease,
    box-shadow 0.1s ease,
    background 0.1s ease
  ;
}


/*******************************
            States
*******************************/

/*--------------
      Hover
---------------*/

.lw-btn:hover {
  background-color: #CACBCD;
  background-image: none;
  box-shadow: 
    0px 0px 0px,
    0px -0em,
  ;
  color: rgba(0, 0, 0, 0.6);
}



/*-------------------
        Sizes
--------------------*/

.lw-btns.mini .lw-btn,
.lw-btn.mini {
  font-size: $mini;
}
.lw-btns.tiny .lw-btn,
.lw-btn.tiny {
  font-size: $tiny;
}
.lw-btns.small .lw-btn,
.lw-btn.small {
  font-size: $small;
}
.lw-btns .lw-btn,
.lw-btn {
  font-size: $medium;
}
.lw-btns.large .lw-btn,
.lw-btn.large {
  font-size: $large;
}
.lw-btns.big .lw-btn,
.lw-btn.big {
  font-size: $big;
}
.lw-btns.huge .lw-btn,
.lw-btn.huge {
  font-size: $huge;
}
.lw-btns.massive .lw-btn,
.lw-btn.massive {
  font-size: $massive;
}


/*******************************
            Groups
*******************************/

.lw-btns {
  display: inline-flex;
  flex-direction: row;
  font-size: 0em;
  vertical-align: baseline;
  margin: 0em 0.25em 0em 0em;
}

/* Clearfix */
.lw-btns:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Standard Group */
.lw-btns .lw-btn {
  flex: 1 0 auto;
  margin: 0em;
  border-radius: 0em;
  margin: 0;
}
.lw-btns > .lw-btn {
  box-shadow: 
    0px 0px 0px,
    0px -0em,
  ;
}

.lw-btns .lw-btn:first-child {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.lw-btns .lw-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*******************************
            Loading
*******************************/
.lw-btn.loading {
  position: relative;
  cursor: default;
  text-shadow: none !important;
  color: transparent !important;
  opacity: 0.8;
  pointer-events: none;
  transition: 
    all 0s linear,
    opacity 0.1s ease
  ;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;

    margin: -0.5em 0 0 -0.5em;
    width: 1em;
    height: 1em;

    border-radius: 500rem;
    border: 0.2em solid rgba(255, 255, 255, 0.15);
  }
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;

    margin: -0.5em 0 0 -0.5em;
    width: 1em;
    height: 1em;

    animation: button-spin 0.6s linear;
    animation-iteration-count: infinite;

    border-radius: 500rem;

    border-color: white transparent transparent;
    border-style: solid;
    border-width: 0.2em;

    box-shadow: 0px 0px 0px 1px transparent;    
  }

}
@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}